rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Profiles Collection rules
    match /profiles/{profileId} {
      // Anyone can read a profile (allows public emergency bystander scans)
      allow read: if true;

      // Anyone can create, update, or delete profiles (allows easy profile customization and setup)
      allow write: if true;
    }
  }
}
